<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>org.skyview.start</string>
        <key>ProgramArguments</key>
        <array>
            <string>/Users/kelley/school-sky-light/skyview-01/msl</string>
            <string>10</string>
            <string>60</string>
            <string>/dev/tty.usbmodem5d11</string>
            <string>/Users/kelley/Sites/skyview/skyview.db</string>
        </array>
        <key>KeepAlive</key>
        <true/>
    </dict>
</plist>
